{% extends "base.html.twig" %}
{% block lista %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="subtitle">Listar productos</div>
    <div class="product-container">
        {% for producto in productos %}
            <a href="{{ path('detalle_producto', {id: producto.getId}) }}">
                <div class="product-element">
                    <img class="product-image" src="{{ asset('images/'~ producto.getImagen ) }}" alt="{{ producto.getNombre }}" loading="lazy"/>
                    <div class="product-name">{{ producto.getNombre }}</div>
                    <div class="product-price">${{ producto.getPrecio }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}